[submodule "3rdparty/lua"]
	path = 3rdparty/lua
	url = https://github.com/lua/lua.git
[submodule "3rdparty/bgfx"]
	path = 3rdparty/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "3rdparty/bx"]
	path = 3rdparty/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "3rdparty/crunch"]
	path = 3rdparty/crunch
	url = https://github.com/nem0/crunch.git
[submodule "3rdparty/assimp"]
	path = 3rdparty/assimp
	url = https://github.com/assimp/assimp
[submodule "3rdparty/recastnavigation"]
	path = 3rdparty/recastnavigation
	url = https://github.com/recastnavigation/recastnavigation.git
[submodule "3rdparty/turbobadger"]
	path = 3rdparty/turbobadger
	url = https://github.com/fruxo/turbobadger
